#hidden-game, #endTurn, #roll1, #nextTurn, #firstRoll, #endGame, .human, .computer, #game, #hal {
  display: none;
}

button {
  box-shadow: 0px 10px 25px #222;
  border-radius: 8px;
  margin-left: 2%;
  margin-bottom: 5%;
}
body{
  text-align: center;
}
ul {
  list-style-type: none;
}
