#hidden-game, #endTurn, #roll1, #nextTurn, #firstRoll, #endGame, .human, .computer, #game, #hal {
  display: none;
}

button {
  box-shadow: 0px 10px 25px #222;
  border-radius: 8px;
  margin-left: 2%;
  margin-bottom: 5%;
  margin-top: 2%;
}
body{
  text-align: center;
  background-image: url("../img/pig2.jpg");
}
ul {
  list-style-type: none;
}
h1, h3{
  background-color: rgb(244, 217, 230, .5);
  margin: auto;
}
#endGame {
  font-size: 30px;
}
